# PDF Processing
PyMuPDF==1.25.3

# Data Handling
pandas==2.2.3
datasets==3.3.2

# Evaluation (will use later)
rouge-score==0.1.2
bert-score==0.3.13

# Experiment Tracking
wandb==0.19.9

# API & Frontend (will use later)
fastapi==0.115.12
uvicorn==0.34.0
streamlit==1.44.1

# Utilities
python-dotenv==1.1.0
pyyaml==6.0.2
tqdm==4.67.1

# Google Gemini (for QA generation & LLM-as-Judge)
google-generativeai==0.8.5